<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Journal</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/375c9a33df.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="align">
            <div class="journal-header">
                <div class="top-section flex">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <span class="home-title">The Journal</span>
                    <div class="right-top-section flex">
                        <span class="sign-in">Sign In</span>
                        <span class="subscribe"><i class="fa-solid fa-envelope"></i> Subscribe</span>
                    </div>
                </div>
                <nav class="bottom-section flex-column">
                    <ul class="navigation-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Style Guide</a></li>
                        <li><a href="#">Author</a></li>
                        <li><a href="#">Collection</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>
