<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Journal</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/375c9a33df.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="align ">
            <div class="journal-header">
                <div class="top-section flex">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <span class="home-title">The Journal</span>
                    <div class="right-top-section flex">
                        <span class="sign-in">Sign In</span>
                        <span class="subscribe">
                            <i class="fa-solid fa-envelope"></i>
                            Subscribe</span>
                    </div>
                </div>
                <nav class="bottom-section flex-column">
                    <ul class="navigation-links">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Style Guide</a>
                        </li>
                        <li>
                            <a href="#">Author</a>
                        </li>
                        <li>
                            <a href="#">Collection</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section class="recent-post align">
                <div class="recent-article-tag-header">
                    <span class="span-recent-tag">Recent</span>
                    -
                    <span class="recent-post-date-tag">01 Jan, 2023</span>
                </div>
                <h1 class="recent-post-title">
                    Start here for a quick overview of everything you need to know
                </h1>
                <p class="recent-post-body">
                    We've crammed the most important information to help you get started with Ghost into this one post. It's your cheat-sheet to get started, and your shortcut to advanced features.
                </p>
                <span class="recent-post-span-read">2 min read</span>
            </section>
            <section class="align main-divider">
                <div class="more-issue">
                    <span class="more-issue-title">More Issue</span>
                    <div class="article-container">
                        <article class="home-article-item">
                            <h2 class="home-article-title">Customizing your brand and design settings</h2>
                            <p class="home-article-body">How to tweak a few settings in Ghost to transform your site from a generic template to a custom brand with style and personality.</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>

                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">Writing and managing content in Ghost, an advanced guide</h2>
                            <p class="home-article-body">A full overview of all the features built into the Ghost editor, including powerful workflow automations to speed up your creative process.</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>
                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">Building your audience with subscriber signups</h2>
                            <p class="home-article-body">How Ghost allows you to turn anonymous readers into an audience of active subscribers, so you know what's working and what isn't.</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>
                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">Selling premium memberships with recurring revenue</h2>
                            <p class="home-article-body">For creators and aspiring entrepreneurs looking to generate a sustainable recurring revenue stream from their creative work, Ghost has built-in payments allowing you to create a subscription commerce business. Connect your Stripe account to Ghost, and you'll be able to quickly and easily create monthly and yearly premium plans for</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>
                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">How to grow your business around an audience</h2>
                            <p class="home-article-body">A guide to collaborating with other staff users to publish, and some resources to help you with the next steps of growing your business</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>
                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">Setting up apps and custom integrations</h2>
                            <p class="home-article-body">Work with all your favorite apps and tools or create your own custom integrations using the Ghost API.</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                                <span class="span-star">*</span>
                            </div>
                        </article>

                        <article class="home-article-item">
                            <h2 class="home-article-title">The Purpose of Education</h2>
                            <p class="home-article-body">We must remember that intelligence is not enough. Intelligence plus character--that is the goal of true education. The complete education gives one not only power of concentration.</p>
                            <div class="article-footer">
                                <span class="date-tag">28 Jul, 2023</span>
                                <span class="center-dot">.</span>
                                <span class="span-read">4 min Read</span>
                            </div>
                        </article>
                    </div>
                </div>
                <aside class="sidebar">
                    <section class="sidebar-section">
                        <h2 class="section-title">About</h2>
                        <div class="section-about">
                            <div class="logo-img"></div>
                            <section class="about-wrapper">
                                <h3 class="about-title">The Journal</h3>
                                <p class="about-description">Thoughts, Stories and Ideas</p>
                            </section>

                        </div>
                        <div class="sidebar-signup">
                            <p class="signup-description">Sign up now to get access to the library of members-only issues.</p>
                            <a href="#"><i class="fa-solid fa-envelope"></i> email@subscribe.com Subscribe</a>
                        </div>
                    </section>

                    <section class="sidebar-section">
                        <h2 class="section-title">Featured</h2>
                        <div class="sidebar-featured sidebar-feed">
                            <article class="sidebar-feed-article">
                                <h3 class="sidebar-article-title">How to grow your business around an audience</h3>
                                <p class="sidebar-article-description">A guide to collaborating with other staff users to publish, and some resources to help you with the next steps of growing your business</p>
                                <div class="article-footer">
                                    <span class="date-tag">28 Jul, 2023</span>
                                    <span class="center-dot">.</span>
                                    <span class="span-read">4 min Read</span>
                                </div>
                            </article>
                            <article class="sidebar-feed-article">
                                <h3 class="sidebar-article-title">How to grow your business around an audience</h3>
                                <p class="sidebar-article-description">A guide to collaborating with other staff users to publish, and some resources to help you with the next steps of growing your business</p>
                                <div class="article-footer">
                                    <span class="date-tag">28 Jul, 2023</span>
                                    <span class="center-dot">.</span>
                                    <span class="span-read">4 min Read</span>
                                </div>
                            </article>
                        </div>
                    </section>

                    <section class="sidebar-section">
                        <h2 class="section-title">Topics</h2>
                        <div class="sidebar-topics">
                            <a href="#" class="sidebar-topic-item">
                                <h3 class="topic-name">Getting Started</h3>
                                <span class="topic-count">3 issues</span>
                            </a>
                            <a href="#" class="sidebar-topic-item">
                                <h3 class="topic-name">Speaches</h3>
                                <span class="topic-count">3 issues</span>
                            </a>
                        </div>
                    </section>
                </aside>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
