
html {
    font-family: Inter;
    font-size: 12px;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}


/* Utility Classes */
.align {
    max-width: 1000px;
    margin: 0 auto 10rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seperator-margin {
    margin: 2rem 0;
}

/* End */

.top-section {
    margin-top: 2rem;
    height: 80px;
    position: relative;
}

.search-icon {
    font-size: 1.5rem;

}

.home-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
    position: absolute;
    left: 40%;
}

.right-top-section {
    font-size: 12px;
    font-weight: 600;
    gap: 1.2rem;   
    text-transform: uppercase;
    color: grey; 
}

.subscribe {
    padding: 0.8rem;
    background-color: rgb(1,43,254);
    border-radius: 1.4rem;
    color: white;
}

.bottom-section {
    height: 56px;
    margin: 0 auto;
}

.navigation-links {
    width: 889px;
    list-style: none;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.navigation-links li {
    display: inline;
    text-transform: uppercase;
    padding-right: 2rem;
}

.navigation-links li:last-child {
    padding-right: 0;
}
a:hover {
    cursor: pointer;
}
 a {
    text-decoration: none;
    color: grey;

 }

.recent-post-title {
    font-size: 74px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1.48px;
}

 .recent-post-body {
    font-size: 28px;
    line-height: 37.8px;
    margin-top: 16px;
    word-break: break-word;
 }


 .span-recent-tag {
    color: blue;
    
    display: block;
        text-transform: uppercase;
 }

.recent-article-tag-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

 .recent-post-span-read {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 24px;
    font-weight: 500;
    display: block;
    color: grey;
 }

.more-issue {
    font-size: 16px;
    line-height: 25.6px;
    max-width: 720px;
}

 .more-issue-title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 0.12px;
 }

 .home-article-title {
    font-size: 34px;
    letter-spacing: -0.68px;
    line-height: 39.1px;
    font-weight: 600;
 }

 .home-article-body {
    font-size: 18px;
    line-height: 27px;
    margin-top: 12px;
    letter-spacing: -0.18px;

 }
.date-tag {
    color: blue;
    display: block;
}

.center-dot{
    display: block;
    position: relative;
    bottom: 4px;
}
.span-read {
    display: block;
}

.span-star {
    display: block;
    position: relative;
    top: 2px;
    font-weight: 700;
}
 .article-footer {
    display: flex;
    margin-top: 20px;
    line-height: 12px;
    font-size: 12px;
    gap: 5px;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    color: grey;
 }

 .home-article-item {
    margin-top: 80px;
    font-size: 16px;
    line-height: 25.6px;
 }

 .home-article-item:first-of-type {
    margin-top: 0;
 }

 .sidebar {
    font-size: 14px;
    display: block;
    height: 890px;
    line-height: 22.4px;
    padding-left: 40px;
 }