body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.page-title {
  text-align: center;
}

.center {
  margin: 0 auto;
  max-width: 1000px;
  /* border: 2px solid red; */
}

.form-item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
}